footer {
    height: 100vh;
    width: 100%;

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .contacttitle {
            text-align: center;
            text-transform: uppercase;
            font-size: 2em;
            margin-bottom: 100px;
            transition: ease 0.4s all;
            transform: translateX(20px);
            opacity: 0;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }

        }

        .errorMessage {
            margin-bottom: 15px;
            font-size: 1.1em;
        }

        .contactmessage {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 40px;
            color: $primary-color;
            
            @media #{$sphones} {
                padding: 0px 15px;
            }
        }

        form {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 50%;

           @media #{$allphones} {
            width: 75%;
        }

            @media #{$tablets} {
            width: 75%;
        }

            @media #{$laptop} {
            width: 75%;
        }
           
           .iform {
                height: 50px;
                width: 100%;
                margin-bottom: 10px;
                padding-left: 10px;
            }
        }

        #message {
            height: 275px;
            width: 100%;
            resize: vertical;
            padding-left: 10px;
            padding-top: 10px;
        }

        ::placeholder {
            color: black;
            font-size: 1.5em;
        }

        .submit {
            height: 50px;
            width: 50%;
            font-size: 1.3em;
            background: $primary-color;
            border: none;
            color: white;
            text-transform: uppercase;
            margin-top: 10px;
            transition: ease-in-out 0.4s all;

            &:hover {
               background: black;
               cursor: pointer;
            }
        }
    }

    .contactinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;
        background: black;
        margin-top: 20px;

        .contacticons {
        //    width: 100%;
        text-align: center;

            .fab {
                color: $primary-color;
                font-size: 3em;
                transition: ease-in 0.3s all;

                &:hover {
                    color: white;
                }
            }

            .fa-github {
                margin-left: 15px;
            }
        }
    }

    .copy {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 30%;
    }


    .footername {
        // margin-top: 100px;
        font-size: 1em;
        color: white;
    }
}