@import 'variables';


main {
    width: 100%;
    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        width: 100%;

        span {
            color: $primary-color;
            font-size: 3rem;
            letter-spacing: 1.5px;
        }

        
        @media #{$allphones} {
            padding: 0px 20px;
        }
        
        
        .aboutme {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.3em;
            color: rgb(30, 31, 32);
            padding-top: 20px;
            transform: translateX(20px);
            opacity: 0;
            transition: ease-in 0.4s all;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        .info {
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
            @media #{$allphones} {
                width: 80%;
            }
        }
    }

    .areas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        padding: 20px 20px;

        
        @media #{$allphones} {
            padding: 0px 20px;
        }


        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100px;
            width: 300px;
            text-align: center;
            color: rgb(30, 31, 32);
            margin-top: 20px;
            
        }

        .containfas{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            height: 200px;
            width: 55%;
        }

        .fas {
            font-size: 2.7rem;
            margin-bottom: 15px;
            text-shadow: 1px 2px 2px black;
            color: $primary-color;
        }

        .cardtitle {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: rgb(30, 31, 32);
        }

        .infotxt {
            width: 75%;
            margin-top: 10px;
            font-size: 1rem;
            color: rgb(30, 31, 32);

            @media #{$allphones} {
                font-size: 1.2rem;
            }
            
        }

        .mobile {
            margin-right: 15px;
            margin-left: 15px;

            @media #{$allphones} {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

    .skillset {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;

        .sect {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            border-radius: 5px;
            width: 500px;
            padding-top: 50px;
            
        }

        .listofskills {
            list-style: none;

            li {
                font-size: 1.2rem;
                margin: 10px 0px;
            }
        }

        .skilltitle {
            text-transform: uppercase;
            font-size: 1.7em;
            margin-bottom: 10px;
            color: $primary-color;
            
            @media #{$allphones} {
                padding: 0px 15px;
            }
        }

        .skillslist {
            list-style-type: none;
            font-size: 1.5em;
            width: 75%;
        }
    }
    //Projects 

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 100px;

        .active {
            background: $primary-color;
        }

        .projecttitle {
            font-size: 2.3em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            transition: ease 0.4s all;
            transform: translateX(20px);
            opacity: 0;
            margin-top: 75px;
            color: rgb(30, 31, 32);

            span {
                color: $primary-color;
                font-size: 3rem;
                letter-spacing: 1.5px;
            }

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }


        }

        .sectiontabs {
            display: flex;

            .tabs {
                display: flex;
                list-style-type: none;
                border: solid 1px rgb(30, 31, 32);
                border-radius: 40px;

                li:nth-child(2) {
                    margin: 0px 10px;
                }

                li {
                    font-size: 1.7rem;
                    padding: 10px 15px;
                    border-radius: 40px;
                    transition: ease 0.4s;

                    @media #{$allphones} {
                        font-size: 1rem;
                        }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .cardprojects {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
      

            .cardproject{
                display: flex;
                align-items: center;
                text-align: center;
                margin: 20px;
                flex-direction: column;
                flex: 1 1 350px;

                &:hover .hovered {
                    opacity: 1;
                }
            
                .airimg {
                    position: relative;
                    width: 500px;
                    height: 300px;
                    box-shadow: .5px .5px 2px rgb(30, 31, 32);
                    filter: grayscale(1);
                    transition: ease-in 0.3s all;

                    @media #{$allphones} {
                        height: 210px;
                        width: 90%;
                    }

                    &:hover {
                        filter: grayscale(0);
                    }
                    
                }

                .hovered {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    color: rgb(30, 31, 32);
                    background: white;
                    transition: ease 0.4s;

                    .project-title {
                        margin-top: 10px;
                        color: $primary-color;
                        text-transform: uppercase;
                        border-bottom: 1px solid $primary-color;
                        border-top: 1px solid $primary-color;

                        @media #{$allphones} {
                            font-size: 1.1rem;
                        }
                    }

                    .imgdescript {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 1.2em;
                        width: 80%;
    
                        @media #{$allphones} {
                            width: 80%;
                            font-size: .8rem;
                        }
                    }

                    .used-skills {
                        display: flex;
                        text-align: center;
                        margin-top: 10px;

                        .fab {
                            color: $primary-color;
                            font-size: 1.8rem;
                            margin: 5px;
                        }
                    }
    
                    .push {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        
                        button {
                            width: 150px;
                            height: 50px;
                            color: $primary-color;
                            border: none;
                            background: transparent;
                            text-transform: uppercase;
                            font-size: 100%;
                            margin-top: 15px;
                            text-align: center;
                            transition: ease-in 0.3s all;
                            border-radius: 40px;
                            margin: 5px;
                            
                            @media #{$allphones} {
                                width: 100px;
                                font-size: .7rem;
                            }
    
    
                            &:hover {
                                transform: scale(1.1);
                                cursor: pointer;
                            }
                            
                            @media #{$allphones} {
                                margin-top: 5px;
                            }
    
                        }
    
                    }
                }

            }
        }
    }
}