@import 'variables';


main {
    width: 100%;
    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        
        @media #{$allphones} {
            padding: 0px 20px;
        }
        
        
        .aboutme {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.3em;
            padding-top: 20px;
            transform: translateX(20px);
            opacity: 0;
            transition: ease-in 0.4s all;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        .info {
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .areas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;

        
        @media #{$allphones} {
            padding: 0px 20px;
        }


        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            width: 300px;
            background: black;
            text-align: center;
            color: white;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: $primary-color 2px 2px 2px;
        }

        .fas {
            font-size: 2.2em;
            margin-bottom: 15px;
            color: $primary-color;
        }

        .cardtitle {
            font-size: 1.5em;
            text-transform: uppercase;
            color: white;
        }

        .infotxt {
            width: 75%;
            margin-top: 10px;
            font-size: 1em;
        }

        .mobile {
            margin-right: 15px;
            margin-left: 15px;

            @media #{$allphones} {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

    .skillset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;

        .sect {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 300px;
            border-radius: 5px;

            
        }

        .skilltitle {
            text-transform: uppercase;
            font-size: 1.7em;
            margin-bottom: 10px;
            color: $primary-color;
            
            @media #{$allphones} {
                padding: 0px 15px;
            }
        }

        .skillslist {
            list-style-type: none;
            font-size: 1.5em;
            width: 75%;
        }
    }
    //Projects 

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;

        .projecttitle {
            font-size: 2.3em;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 20px;
            transition: ease 0.4s all;
            transform: translateX(20px);
            opacity: 0;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }


        }

        .cardproject{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            
            .airimg {
                height: 50%;
                width: 50%;
                filter: grayscale(1);
                transition: ease-in 0.4s all;

                &:hover ~ button {
                    transform: translateY(-30px);
                    opacity: 1;
                }

                &:hover {
                    filter: grayscale(0);
                }
                
            }

            .imgdescript {
                margin-right: 0 auto;
                text-align: center;
                font-size: 1.5em;
                width: 50%;
            }

            button {
                position: absolute;
                width: 10%;
                height: 50px;
                border: none;
                color: white;
                border: solid 2px white;
                background: black;
                text-transform: uppercase;
                font-size: 1em;
                transition: ease-in 0.5s all;
                z-index: 2;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }

            .source {
                position: absolute;
                top: 70%;
                left: 52%;
               
            }

            .web {
                position: absolute;
                top: 70%;
                left: 38%;
            }

        }
    }
}