@import 'variables';


main {
    width: 100%;
    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        
        @media #{$allphones} {
            padding: 0px 20px;
        }
        
        
        .aboutme {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.3em;
            padding-top: 20px;
            transform: translateX(20px);
            opacity: 0;
            transition: ease-in 0.4s all;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        .info {
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .areas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        padding: 0px 20px;

        
        @media #{$allphones} {
            padding: 0px 20px;
        }


        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            width: 300px;
            background: $primary-color;
            text-align: center;
            color: black;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: black 2px 2px 5px;
        }

        .fas {
            font-size: 2.2em;
            margin-bottom: 15px;
            text-shadow: 1px 2px 2px black;
            color: white;
        }

        .cardtitle {
            font-size: 1.5em;
            text-transform: uppercase;
            color: black;
        }

        .infotxt {
            width: 75%;
            margin-top: 10px;
            font-size: 1em;
            color: white;
        }

        .mobile {
            margin-right: 15px;
            margin-left: 15px;

            @media #{$allphones} {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }

    .skillset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;

        .sect {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 300px;
            border-radius: 5px;

            
        }

        .skilltitle {
            text-transform: uppercase;
            font-size: 1.7em;
            margin-bottom: 10px;
            color: $primary-color;
            
            @media #{$allphones} {
                padding: 0px 15px;
            }
        }

        .skillslist {
            list-style-type: none;
            font-size: 1.5em;
            width: 75%;
        }
    }
    //Projects 

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .projecttitle {
            font-size: 2.3em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            transition: ease 0.4s all;
            transform: translateX(20px);
            opacity: 0;
            margin-top: 140px;

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }


        }

        .cardprojects {
                display: flex;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
      

            .cardproject{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 25px;
                flex: 1 1 500px;
            
                .airimg {
                    width: 75%;
                    height: 250px;
                    box-shadow: 1.5px 1.5px 3px black;
                    filter: grayscale(1);
                    transition: ease-in 0.3s all;

                    @media #{$allphones} {
                        height: 210px;
                        width: 90%;
                    }

                    &:hover {
                        filter: grayscale(0);
                    }
                    
                }

                .imgdescript {
                    margin-top: 10px;
                    text-align: center;
                    font-size: 1.3em;
                    width: 55%;

                    @media #{$allphones} {
                        width: 80%;
                        font-size: 1.2em;
                    }
                }

                .push {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    button {
                        width: 150px;
                        height: 50px;
                        border: none;
                        color: white;
                        border: solid 2px white;
                        background: $primary-color;
                        text-transform: uppercase;
                        font-size: 100%;
                        margin-top: 15px;
                        text-align: center;
                        transition: ease-in 0.3s all;


                        &:hover {
                            background: black; 
                            cursor: pointer;
                        }
                        
                        @media #{$allphones} {
                            margin-top: 5px;
                        }

                    }

                }

            }
        }
    }
}