footer {
    position: relative;
    width: 100%;

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 60px;
        background: rgb(30, 31, 32);

        .contacttitle {
            text-align: center;
            text-transform: uppercase;
            font-size: 2em;
            margin-bottom: 60px;
            transition: ease 0.4s all;
            transform: translateX(20px);
            opacity: 0;
            color: white;
            padding-top: 45px;

            span {
                color: $primary-color;
                font-size: 3rem;
                letter-spacing: 1.5px;
            }
    

            @media #{$allphones} {
                margin-bottom: 50px;
            }
            @media #{$tablets} {
                margin-bottom: 50px;
            }

            &.appear {
                transform: translateY(0px);
                opacity: 1;
            }

        }

        .errorMessage {
            margin-bottom: 15px;
            font-size: 1.1em;
        }

        .contactmessage {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 40px;
            color: $primary-color;
            
            @media #{$sphones} {
                padding: 0px 15px;
            }
        }

        form {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 800px;

           @media #{$allphones} {
            width: 75%;
        }

            @media #{$tablets} {
            width: 75%;
        }

            @media #{$laptop} {
            width: 800px;
        }
           
           .iform {
                height: 50px;
                width: 75%;
                margin-bottom: 10px;
                padding-left: 10px;
                border: none;
                border-bottom: 1px solid $primary-color;
                background: transparent;
                color: white;

                @media #{$allphones} {
                    width: 100%;
                }

                @media #{$form} {
                    max-width: 85%;
                 }
            }
        }

        #message {
            height: 275px;
            width: 75%;
            resize: vertical;
            padding-left: 10px;
            padding-top: 10px;
            margin-top: 25px;
            border: 1px solid $primary-color;
            background: transparent;

            @media #{$allphones} {
                height: 200px;
                width: 100%;
            }

            @media #{$form} {
               max-width: 85%;
            }
        }

        ::placeholder {
            color: white;
            font-size: 1.5em;
        }

        .submit {
            height: 50px;
            width: 150px;
            font-size: 1.3em;
            background: $primary-color;
            border: none;
            color: white;
            text-transform: uppercase;
            margin-top: 10px;
            transition: ease-in-out 0.4s all;

            &:hover {
               background: white;
               color: $primary-color;
               cursor: pointer;
            }
        }
    }

    .contactinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        width: 100%;
        background: $primary-color;
    
        .contacticons {
        text-align: center;

            .fab {
                color: white;
                font-size: 3em;
                transition: ease-in 0.3s all;

                &:hover {
                    color: rgb(30, 31, 32);
                }
            }

            .fa-github {
                margin-left: 15px;
            }
        }
    }

    .copy {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 25px;
    }


    .footername {
        font-size: 1em;
        color: white;
    }
}