@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Patua+One&family=Ramabhadra&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Bellota:ital@1&family=Merriweather+Sans&display=swap");
.nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  -webkit-transition: ease 0.8s all;
  transition: ease 0.8s all;
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  z-index: -1;
}

.nav .links .link {
  margin: 20px 50px;
  font-size: 1.5em;
}

@media (min-width: 479px) and (max-width: 850px) {
  .nav .links .link {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 480px) {
  .nav .links .link {
    display: none;
  }
}

.nav .links .link a {
  text-decoration: none;
  color: #5872c9;
  font-weight: bold;
  padding: 8px;
  -webkit-transition: ease-in 0.4s all;
  transition: ease-in 0.4s all;
}

.nav .links .link a:hover {
  color: white;
  background: #5872c9;
  border-radius: 4px;
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  left: 10px;
  height: 60px;
  width: 60px;
  z-index: 3;
}

.menu .toggle {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 5;
  opacity: 0;
}

.menu .toggle:hover {
  cursor: pointer;
}

.menu .hamburger {
  margin: auto 0;
  height: 3px;
  width: 28px;
  background: #5872c9;
}

.menu .hamburger::before {
  content: '';
  position: absolute;
  top: 18px;
  height: 3px;
  width: 40px;
  background: #5872c9;
}

.shownav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 0;
  background: white;
  opacity: 0;
  -webkit-transition: ease 0.4s all;
  transition: ease 0.4s all;
  z-index: 2;
}

.shownav.open {
  width: 100%;
  opacity: 1;
}

.shownav .showlinks {
  list-style-type: none;
}

.shownav .showlinks .showlink {
  margin: 20px 0px;
  font-size: 2em;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: ease-in all 0.4s;
  transition: ease-in all 0.4s;
}

.shownav .showlinks .showlink a {
  color: #5872c9;
  text-decoration: none;
}

.shownav .showlinks .showlink a:hover {
  color: #5872c9;
}

main {
  width: 100%;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .about {
    padding: 0px 20px;
  }
}

main .about .aboutme {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em;
  padding-top: 20px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  -webkit-transition: ease-in 0.4s all;
  transition: ease-in 0.4s all;
}

main .about .aboutme.appear {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

main .about .info {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

main .areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding: 0px 20px;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .areas {
    padding: 0px 20px;
  }
}

main .areas .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 300px;
  background: #5872c9;
  text-align: center;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-box-shadow: black 2px 2px 5px;
          box-shadow: black 2px 2px 5px;
}

main .areas .fas {
  font-size: 2.2em;
  margin-bottom: 15px;
  text-shadow: 1px 2px 2px black;
  color: white;
}

main .areas .cardtitle {
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}

main .areas .infotxt {
  width: 75%;
  margin-top: 10px;
  font-size: 1em;
  color: white;
}

main .areas .mobile {
  margin-right: 15px;
  margin-left: 15px;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .areas .mobile {
    margin-right: 0px;
    margin-left: 0px;
  }
}

main .skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}

main .skillset .sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  border-radius: 5px;
}

main .skillset .skilltitle {
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: 10px;
  color: #5872c9;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .skillset .skilltitle {
    padding: 0px 15px;
  }
}

main .skillset .skillslist {
  list-style-type: none;
  font-size: 1.5em;
  width: 75%;
}

main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .projects .projecttitle {
  font-size: 2.3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-transition: ease 0.4s all;
  transition: ease 0.4s all;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  margin-top: 140px;
}

main .projects .projecttitle.appear {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

main .projects .cardprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

main .projects .cardprojects .cardproject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

main .projects .cardprojects .cardproject .airimg {
  width: 75%;
  height: 250px;
  -webkit-box-shadow: 1.5px 1.5px 3px black;
          box-shadow: 1.5px 1.5px 3px black;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .projects .cardprojects .cardproject .airimg {
    height: 210px;
    width: 90%;
  }
}

main .projects .cardprojects .cardproject .airimg:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

main .projects .cardprojects .cardproject .imgdescript {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3em;
  width: 55%;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .projects .cardprojects .cardproject .imgdescript {
    width: 80%;
    font-size: 1.2em;
  }
}

main .projects .cardprojects .cardproject .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .cardprojects .cardproject .push button {
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  border: solid 2px white;
  background: #5872c9;
  text-transform: uppercase;
  font-size: 100%;
  margin-top: 15px;
  text-align: center;
  -webkit-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
}

main .projects .cardprojects .cardproject .push button:hover {
  background: black;
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 480px) {
  main .projects .cardprojects .cardproject .push button {
    margin-top: 5px;
  }
}

footer {
  position: relative;
  width: 100%;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .contact .contacttitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 100px;
  -webkit-transition: ease 0.4s all;
  transition: ease 0.4s all;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

@media (min-width: 200px) and (max-width: 480px) {
  footer .contact .contacttitle {
    margin-bottom: 50px;
  }
}

@media (min-width: 479px) and (max-width: 850px) {
  footer .contact .contacttitle {
    margin-bottom: 50px;
  }
}

footer .contact .contacttitle.appear {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

footer .contact .errorMessage {
  margin-bottom: 15px;
  font-size: 1.1em;
}

footer .contact .contactmessage {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px;
  color: #5872c9;
}

@media (max-width: 320px) {
  footer .contact .contactmessage {
    padding: 0px 15px;
  }
}

footer .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}

@media (min-width: 200px) and (max-width: 480px) {
  footer .contact form {
    width: 75%;
  }
}

@media (min-width: 479px) and (max-width: 850px) {
  footer .contact form {
    width: 75%;
  }
}

@media (min-width: 830px) and (max-width: 10000px) {
  footer .contact form {
    width: 800px;
  }
}

footer .contact form .iform {
  height: 50px;
  width: 75%;
  margin-bottom: 10px;
  padding-left: 10px;
}

@media (min-width: 200px) and (max-width: 480px) {
  footer .contact form .iform {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  footer .contact form .iform {
    max-width: 85%;
  }
}

footer .contact #message {
  height: 275px;
  width: 75%;
  resize: vertical;
  padding-left: 10px;
  padding-top: 10px;
}

@media (min-width: 200px) and (max-width: 480px) {
  footer .contact #message {
    height: 200px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  footer .contact #message {
    max-width: 70%;
  }
}

footer .contact ::-webkit-input-placeholder {
  color: black;
  font-size: 1.5em;
}

footer .contact :-ms-input-placeholder {
  color: black;
  font-size: 1.5em;
}

footer .contact ::-ms-input-placeholder {
  color: black;
  font-size: 1.5em;
}

footer .contact ::placeholder {
  color: black;
  font-size: 1.5em;
}

footer .contact .submit {
  height: 50px;
  width: 150px;
  font-size: 1.3em;
  background: #5872c9;
  border: none;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  -webkit-transition: ease-in-out 0.4s all;
  transition: ease-in-out 0.4s all;
}

footer .contact .submit:hover {
  background: black;
  cursor: pointer;
}

footer .contactinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  width: 100%;
  background: black;
  margin-top: 20px;
}

footer .contactinfo .contacticons {
  text-align: center;
}

footer .contactinfo .contacticons .fab {
  color: #5872c9;
  font-size: 3em;
  -webkit-transition: ease-in 0.3s all;
  transition: ease-in 0.3s all;
}

footer .contactinfo .contacticons .fab:hover {
  color: white;
}

footer .contactinfo .contacticons .fa-github {
  margin-left: 15px;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 25px;
}

footer .footername {
  font-size: 1em;
  color: white;
}

.transition {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Bellota;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  width: 100%;
}

header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

header .heading .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 100px;
}

@media (min-width: 321px) and (max-width: 374px) {
  header .heading .header {
    font-size: 0.9em;
  }
}

@media (max-width: 320px) {
  header .heading .header {
    font-size: 0.8em;
  }
}

header .heading .header .hello {
  position: absolute;
  top: 18%;
  left: 10%;
  font-size: 250px;
  color: transparent;
  letter-spacing: 12px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
}

@media (min-width: 830px) and (max-width: 10000px) {
  header .heading .header .hello {
    font-size: 12em;
  }
}

@media (min-width: 479px) and (max-width: 850px) {
  header .heading .header .hello {
    font-size: 9em;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  header .heading .header .hello {
    font-size: 7em;
  }
}

@media (min-width: 321px) and (max-width: 374px) {
  header .heading .header .hello {
    font-size: 7em;
  }
}

@media (max-width: 320px) {
  header .heading .header .hello {
    font-size: 6em;
  }
}

header .heading .header .intro {
  font-size: 2em;
  width: 75%;
  color: black;
}

header .heading .header .name {
  text-transform: uppercase;
  padding: 0px 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: #5872c9;
}
/*# sourceMappingURL=main.css.map */